<div class="container">
    <form [formGroup]="formGroup">
      <h1>Credentials</h1>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput required formControlName="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [type]="visibilityPassword"
          matInput
          required
          formControlName="password"
        />
        <mat-icon matSuffix (click)="changeVisibility()" class="iconPassword">{{
          visibilityPassword === "password" ? "visibility" : "visibility_off"
        }}</mat-icon>
      </mat-form-field>
  
      <div class="linkRegister">
        Don't have an account? <a routerLink="/register">click here</a>
      </div>
  
      <div class="buttonActions">
        <button mat-flat-button (click)="login()" [disabled]="formGroup.invalid">
          LOGIN
        </button>
      </div>
    </form>
  </div>